@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap');

.EmojisContainer {
  font-family: 'Black Ops One', cursive;

  .title {
    font-size: 5em;
    width: 100%;
    text-align: center;
    border: 1px dotted purple;
  }
}